body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container h1 {
    font-size: 50px; 
    font-weight: bold;
    text-align: center;
}
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 200%;
    max-width: 1200px; 
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 50px; 
}

.about-left {
    flex: 1;
    text-align: center;
}

.about-left img {
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
}
.about-right {
    flex: 2;
    text-align: left;
}

.about-right h2 {
    font-size: 30px; 
    font-weight: bold;
    margin-bottom: 12px;
}
.about-right p {
    font-size: 20px; 
    line-height: 1.8;
}
.education {
    margin-top: 40px;
}

.education h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.timeline {
    position: relative;
    padding-left: 30px; 
    border-left: 4px solid #007bff; 
}

.timeline-item {
    position: relative;
    margin-bottom: 30px; 
    padding-left: 25px; 
    border-radius: 5px;
    background:transparent;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.timeline-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.3);
    background: rgba(0, 123, 255, 0.1);
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 6px;
    width: 20px; 
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
}
.timeline-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.timeline-item small {
    display: block;
    font-size: 18px; 
    color: #555;
    margin-bottom: 5px;
}
.timeline-item p {
    font-size: 18px;
    color: #444;
}

.content {
    width: 100%;
    padding: 20px;
}

.heading {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    color: #333;
    
}
p {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 15px 0 10px;
    color: #444;
    text-align: center; 
}
.skills-wrapper {
    display: flex;
    justify-content: center; 
    gap: 40px;
    flex-wrap: nowrap; 
    text-align: center;
    margin-bottom: 20px;
    padding-right: 20px;
    width: 100%;
}
.frontend, .backend, .database {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skills {
    text-align: center;
    display: flex;
    flex-wrap: nowrap; 
    gap: 20px;
    justify-content: center;
}
.skill-item {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skill-item img {
    width: 100px; 
    height: 100px;
    transition: transform 0.3s ease-in-out;
}
.skill-item img:hover {
    transform: scale(1.2);
}
.tooltip {
    position: absolute;
    bottom: -40px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 7px 12px;
    border-radius: 6px;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
}
.skill-item:hover .tooltip {
    opacity: 1;
    visibility: visible;
}
.cloud-computing {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #555;
    text-align: center;
}
.exp {
    background: white;
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.exp:hover {
    transform: translateY(-5px);
}
.company {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 15px;
}
.certificates {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 15px; 
    justify-content: center;
    width: 90%;
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 10px;
}
.cert {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.cert:hover {
    transform: translateY(-5px);
}
.cert img {
    width: 100%;
    aspect-ratio: 4/3; 
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}
.download-btn {
    margin-top: 10px;
    background: #007bff;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}
.download-btn:hover {
    background: #0056b3;
}
.tabs {
    margin-top: 60px;
    display: flex;
    gap: 25px; 
    
    flex-wrap: nowrap;
}
.tab {
    font-size: 20px; 
    font-weight: 600;
    color: #007bff;
    cursor: pointer;
    padding: 14px 24px; 
    border-radius: 10px;
    transition: 0.3s;
}

.tab.active,
.tab:hover {
    background: #ff9800;
    color: white;
    box-shadow: 0px 6px 18px rgba(255, 152, 0, 0.5);
}
.content{
    justify-content: left;
}
.works {
    width: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px; 
    overflow: hidden; 
    display: block;
    margin: auto; 
    cursor: pointer;
}
.works:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        width: 100%; 
        padding: 0 15px; 
        gap: 30px;
    }

    .about-left img {
        max-width: 80%;
        height: auto;
    }

    .about-right {
        width: 100%; 
        text-align: center;
        padding: 0 10px;
    }

    .timeline {
        width: 100%;
        text-align: left;
        margin: auto;
    }
    .tabs {
        margin-top: 60px; 
        display: flex;
        gap: 2px; 
        flex-wrap: nowrap;
    }
    .skills-wrapper {
        flex-direction: column; 
        align-items: center; 
        gap: 15px; 
        padding-right: 0; 
    }
    .works {
        width: 80%;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        border-radius: 10px; 
        overflow: hidden; 
        display: block;
        margin: auto; 
        cursor: pointer;
    }
    .works:hover {
        transform: scale(1.05); 
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
    }
}
